bg*.cmake
*.png
*.pyc
*.tar.gz
*.tar
*.tgz
*.doc
*.csv
*.xml
*.scr
*.out
*.pro
*.user
*.so
*.zip
*.cmake
*.inp

scr.*
scr?.*
scr?/
scr??/


**/*.o
tRecX.*
lib*.a
CMakeCache*
spec*
ampl*
surface*
expect*

develop/*/

CMakeFiles/
doc/
CAPP/
CAPP_back/
tutorial/
CHECKS/
TEX/
run/
scr/
SEDNA/
ZielinskiSpectra/
VinayData/
OLD_VinayData/
OpenAccess/
LIBRARIES/

GUI/html/CODES_AND_EXPERIMENTS
GUI/html/CodeExample
GUI/html/Devel
GUI/html/tRecX
GUI/html/BSR
GUI/html/XChem
GUI/html/alt
GUI/uRecX



linp
plot
compare
lRuns

Makefile
Harmonics
tRecX
Spectrum
Spectrum6D
TransformToCoupledLM

LIBRARIES/blas
LIBRARIES/LAPACK
cmake.sh

.projections.json
compile_commands.json

build/

