recursive-include epolyscat_django_app/static *
recursive-include epolyscat_django_app/templates *
recursive-include epolyscat_django_app/ePolyScat *
recursive-include epolyscat_django_app/tRecX *
recursive-include epolyscat_django_app/data *
recursive-include epolyscat_django_app/src *
include epolyscat_django_app/package.json
include epolyscat_django_app/yarn.lock
include epolyscat_django_app/babel.config.js
include epolyscat_django_app/vue.config.js
